*{ 
    font-family: 'Montserrat'

}
.bg-primary{
    background-color : rgba(0, 0, 0, 0.921)  !important;
}

img{

    max-width: 50%;
}
.progress{
    background-color: rgba(250,255,255,0.2);
    overflow: hidden;

}
 

.card{
transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover{
    transform: translate(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) ;

}